# 编译输出目录
/bin/
/obj/

# 依赖管理目录
/pkg/

# 临时文件
*.log
*.tmp
*.out


# IDE 和编辑器相关的文件
.vscode/
.idea/
*.swp
*.swo
*.bak
*.backup
*~

# Go 依赖管理工具生成的文件
vendor/

# 如果使用 macOS，忽略以下文件
.DS_Store

# 如果使用 Linux，忽略以下文件
*~

# 如果使用 Windows，忽略以下文件
Thumbs.db
desktop.ini
